
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ topic }} - {{ difficulty }}</title>
</head>
<body>
<h1>{{ topic }} - {{ difficulty }}</h1>
<p>
This lesson covers the following topics:
</p>
<ul>
<li>Topic 1</li>
<li>Topic 2</li>
<li>Topic 3</li>
</ul>
<p>
To complete this lesson, please complete the following exercises:
</p>
<ul>
<li><a href="/exercises/{{ topic }}/{{ difficulty }}">Exercise 1</a></li>
<li><a href="/exercises/{{ topic }}/{{ difficulty }}">Exercise 2</a></li>
<li><a href="/exercises/{{ topic }}/{{ difficulty }}">Exercise 3</a></li>
</ul>
</body>
</html>

